.feature {
  padding: 40px 45px 69px 42px;

  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;

  &:nth-of-type(odd) {
    padding-left: 40px;
  }

  &:hover {
    padding-top: 41px;
    padding-left: 45px;

    background-color: $color-deep-sky-blue;
    border: none;

    &:nth-of-type(even) {
      padding-bottom: 71px;
    }
  }

  @media (max-width: $vp-1023) {
    padding: 39px 40px 32px;

    &:hover {
      &:nth-of-type(even) {
        padding-bottom: 32px;
      }
    }
  }

  @media (max-width: $vp-767) {
    min-height: 340px;
    padding: 29px 30px 29px 25px;

    &:nth-of-type(odd) {
      padding-left: 26px;
    }

    &:nth-of-type(3n),
    &:nth-of-type(4n) {
      min-height: 325px;
    }

    &:hover {
      padding-top: 31px;
      padding-right: 31px;
      padding-left: 30px;
    }
  }
}

.feature__icon {
  width: 35px;
  height: 35px;
  margin-bottom: 20px;

  background-repeat: no-repeat;
  background-position: center;

  &--timing {
    margin-top: -1px;
    background-image: url("../img/sprite/icon-watch.svg");
  }

  &--providers {
    background-image: url("../img/sprite/icon-hired.svg");
  }

  &--privacy {
    margin-left: -5px;
    background-image: url("../img/sprite/icon-detective.svg");
  }

  &--cost {
    background-image: url("../img/sprite/icon-tag.svg");
  }

  @media (max-width: $vp-1023) {
    margin-bottom: 15px;

    &--privacy {
      margin-bottom: 13px;
      margin-left: 0;
    }

    &--cost {
      margin-bottom: 10px;
    }
  }

  @media (max-width: $vp-767) {
    width: 30px;
    height: 30px;

    &--timing {
      margin-top: 0;
      background-image: url("../img/sprite/icon-watch-mobile.svg");
    }

    &--providers {
      background-image: url("../img/sprite/icon-hired-mobile.svg");
    }

    &--privacy {
      margin-left: -1px;
      margin-bottom: 19px;
      background-image: url("../img/sprite/icon-detective-mobile.svg");
    }

    &--cost {
      margin-bottom: 19px;
      background-image: url("../img/sprite/icon-tag-mobile.svg");
    }
  }
}

.feature:hover .feature__icon {
  &--timing {
    margin-left: -2px;
    background-image: url("../img/sprite/icon-watch-hover.svg");
  }

  &--providers {
    background-image: url("../img/sprite/icon-hired-hover.svg");
  }

  &--privacy {
    margin-left: -5px;
    background-image: url("../img/sprite/icon-detective-hover.svg");
  }

  &--cost {
    background-image: url("../img/sprite/icon-tag-hover.svg");
  }

  @media (max-width: $vp-1023) {
    &--privacy {
      margin-left: 0;
    }

    &--cost {
      margin-bottom: 10px;
    }
  }

  @media (max-width: $vp-767) {
    &--timing {
      margin-left: 0;
      background-image: url("../img/sprite/icon-watch-mobile-hover.svg");
    }

    &--providers {
      background-image: url("../img/sprite/icon-hired-mobile-hover.svg");
    }

    &--privacy {
      margin-left: -1px;
      background-image: url("../img/sprite/icon-detective-mobile-hover.svg");
    }

    &--cost {
      margin-bottom: 19px;
      background-image: url("../img/sprite/icon-tag-mobile-hover.svg");
    }
  }
}

.feature h3 {
  margin: 0 0 14px 0;

  @include roboto($size-24, $line-140);
  color: $color-deep-sky-blue;

  @media (max-width: $vp-1023) {
    margin-bottom: 9px;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 140%;
  }
}

.feature:nth-of-type(3n) h3 {
  @media (max-width: $vp-1023) {
    margin-bottom: 8px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 13px;
  }
}

.feature:nth-of-type(4n) h3 {
  @media (max-width: $vp-1023) {
    margin-bottom: 6px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 13px;
  }
}

.feature:hover h3 {
  margin: 0 0 13px 0;

  color: $color-alice-blue;

  @media (max-width: $vp-1023) {
    margin-bottom: 9px;
  }
}

.feature:nth-of-type(3n):hover h3 {
  @media (max-width: $vp-1023) {
    margin-bottom: 7px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 12px;
  }
}

.feature:nth-of-type(4n):hover h3 {
  @media (max-width: $vp-1023) {
    margin-bottom: 5px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 12px;
  }
}

.feature p {
  margin: 0;

  @include ptmono($size-16, $line-135);
  color: $color-black-pearl;

  @media (max-width: $vp-767) {
    font-size: 14px;
  }
}

.feature:hover p {
  color: $color-alice-blue;
}
