.features {
  padding-top: 120px;

  background-color: $color-alice-blue-bg;

  @media (max-width: $vp-1023) {
    padding-top: 80px;
  }

  @media (max-width: $vp-767) {
    padding-top: 50px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  width: 100%;

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
