.feature {
  width: 48.8%;
  min-height: 300px;
  padding: 95px 45px 35px 42px;

  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;

  &:hover {
    padding-top: 95px;

    background-color: $color-deep-sky-blue;
    border: none;
  }

  @media (max-width: $vp-1023) {
    width: 47.8%;
    min-height: 360px;
    padding-top: 89px;
    padding-bottom: 31px;

    &:nth-of-type(3n) {
      padding-top: 88px;
    }

    &:nth-of-type(4n) {
      padding-top: 85px;
    }

    &:hover {
      padding-top: 90px;
    }
  }

  @media (max-width: $vp-767) {
    width: 100%;
    min-height: 340px;
    margin-bottom: 30px;
    padding: 75px 30px 35px 25px;

    &:nth-of-type(3n) {
      min-height: 325px;
      padding-top: 78px;
    }

    &:nth-of-type(4n) {
      min-height: 325px;
      margin-bottom: 0;
      padding-top: 78px;
    }

    &:hover {
      padding-top: 76px;
      padding-left: 26px;
    }
  }
}

.feature:nth-of-type(3n):hover {
  @media (max-width: $vp-767) {
    padding-top: 80px;
  }
}

.feature:nth-of-type(4n):hover {
  @media (max-width: $vp-1023) {
    padding-top: 85px;
  }

  @media (max-width: $vp-767) {
    padding-top: 80px;
    padding-right: 32px;
  }
}

.feature h3 {
  position: relative;

  margin: 0 0 14px 0;

  @include roboto($size-24, $line-140);
  color: $color-deep-sky-blue;

  &::before {
    content: "";
    position: absolute;
    top: -59px;
    left: -4px;

    width: 40px;
    height: 40px;

    background-image: url("../img/sprite/icon-watch.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $vp-1023) {
    margin-bottom: 10px;

    &::before {
      top: -53px;
    }
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 140%;

    &::before {
      top: -51px;

      background-image: url("../img/sprite/icon-watch-mobile.svg");
    }
  }
}

.feature:nth-of-type(3n) h3 {
  @media (max-width: $vp-1023) {
    margin-bottom: 7px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 13px;
  }
}

.feature:nth-of-type(3n):hover h3 {
  @media (max-width: $vp-1023) {
    margin-bottom: 5px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 14px;
  }
}

.feature:nth-of-type(4n) h3 {
  @media (max-width: $vp-1023) {
    margin-bottom: 5px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 13px;
  }
}

.feature:nth-of-type(4n):hover h3 {
  @media (max-width: $vp-1023) {
    margin-bottom: 6px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 13px;
  }
}

.feature:hover h3 {
  margin: 0 0 13px 3px;

  color: $color-alice-blue;

  @media (max-width: $vp-1023) {
    margin-bottom: 9px;
  }
}

.feature:hover h3::before {
  left: -3px;

  background-image: url("../img/sprite/icon-watch-hover.svg");

  @media (max-width: $vp-767) {
    background-image: url("../img/sprite/icon-watch-mobile-hover.svg");
  }
}

.feature:nth-of-type(2n) h3::before {
  background-image: url("../img/sprite/icon-hired.svg");

  @media (max-width: $vp-767) {
    background-image: url("../img/sprite/icon-hired-mobile.svg");
  }
}

.feature:nth-of-type(3n) h3::before {
  left: -10px;

  background-image: url("../img/sprite/icon-detective.svg");

  @media (max-width: $vp-1023) {
    left: -5px;
  }

  @media (max-width: $vp-767) {
    top: -54px;
    background-image: url("../img/sprite/icon-detective-mobile.svg");
  }
}

.feature:nth-of-type(4n) h3::before {
  background-image: url("../img/sprite/icon-tag.svg");

  @media (max-width: $vp-1023) {
    top: -50px;
  }

  @media (max-width: $vp-767) {
    top: -54px;
    left: -5px;

    background-image: url("../img/sprite/icon-tag-mobile.svg");
  }
}

.feature:nth-of-type(2n):hover h3::before {
  background-image: url("../img/sprite/icon-hired-hover.svg");

  @media (max-width: $vp-767) {
    background-image: url("../img/sprite/icon-hired-mobile-hover.svg");
  }
}

.feature:nth-of-type(3n):hover h3::before {
  left: -10px;

  background-image: url("../img/sprite/icon-detective-hover.svg");

  @media (max-width: $vp-1023) {
    left: 0;
  }

  @media (max-width: $vp-767) {
    left: -3px;

    background-image: url("../img/sprite/icon-detective-mobile-hover.svg");
  }
}

.feature:nth-of-type(4n):hover h3::before {
  background-image: url("../img/sprite/icon-tag-hover.svg");

  @media (max-width: $vp-767) {
    top: -54px;
    background-image: url("../img/sprite/icon-tag-mobile-hover.svg");
  }
}

.feature p {
  margin: 0;

  @include ptmono($size-16, $line-135);
  color: $color-black-pearl;

  @media (max-width: $vp-767) {
    font-size: 14px;
  }
}

.feature:hover p {
  margin-left: 3px;

  color: $color-alice-blue;
}
