.feedback {
  position: relative;

  padding: 165px 0 220px;

  background: $black-pearl-to-right-down;
  background-color: $color-deep-sky-blue;

  &::before {
    content: "";
    position: absolute;
    top: 246px;
    left: 350px;
    z-index: 1;

    width: 26.5%;
    max-width: 510px;
    max-height: 285px;
    height: 55.9%;

    background-image: url("../img/plane.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 center;
  }

  @include vp-1839 {
    &::before {
      left: 200px;
    }
  }

  @include vp-1439 {
    &::before {
      left: 150px;
    }
  }

  @include vp-1279 {
    &::before {
      left: 75px;
    }
  }

  @media (max-width: $vp-1023) {
    padding: 45px 0 95px;

    background-image: none;

    &::before {
      display: none;
    }
  }

  @media (max-width: $vp-767) {
    padding: 46px 0 69px;
  }
}

.feedback__wrapper {
  position: relative;
  z-index: 10;

  max-width: 580px;
  margin-right: 10px;
  margin-left: auto;

  @media (max-width: $vp-1023) {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.feedback h2 {
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: -5px;

  @include roboto($size-36, $line-51);
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    margin-left: 0;
    margin-bottom: 7px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 8px;

    font-size: 30px;
    line-height: 42px;
  }
}

.feedback span {
  display: block;
  margin-bottom: 35px;

  @include ptmono($size-16, $line-22);
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    margin-bottom: 25px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 34px;

    font-size: 14px;
    line-height: 19px;
  }
}

.feedback__inner-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  @media (max-width: $vp-767) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.feedback__inner-wrapper .feedback__form-input {
  width: calc(50% - 15px);

  &:nth-of-type(2n) {
    margin-left: 30px;
  }

  @media (max-width: $vp-767) {
    width: 100%;

    &:nth-of-type(2n) {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

.feedback__inner-wrapper:nth-of-type(2n) .feedback__form-input {
  width: 265px;
  padding-top: 15px;

  @media (max-width: $vp-1023) {
    width: 320px;
    padding-top: 10px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
  }
}

.feedback input,
.feedback textarea {
  width: 100%;

  @include ptmono($size-16, $line-22);
  color: $color-default-white;

  background-color: $color-black-pearl-fade;
  border: none;
  border-radius: 3px;
}

.feedback input::placeholder,
.feedback textarea::placeholder {
  color: $color-default-white;
}

.feedback input {
  padding: 13px 15px 15px;

  &:focus {
    box-shadow: 0 0 0 2px #011c40, 0 0 0 3px #ffffff;
    border-radius: 2px;
  }
}

.feedback textarea {
  min-height: 155px;
  margin-bottom: 31px;
  padding: 23px 15px;
  resize: none;

  @media (max-width: $vp-1023) {
    margin-bottom: 32px;
    padding-top: 30px;
  }

  @media (max-width: $vp-767) {
    min-height: 180px;
    margin-bottom: 26px;
    padding-top: 23px;
  }
}

.feedback__submit {
  width: 265px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 11px;
  text-align: center;

  @include roboto-bold($size-16, $line-19);
  color: $color-default-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.feedback__form-input-checkbox {
  width: 265px;
  margin-right: 0;
  margin-left: auto;

  @media (max-width: $vp-1023) {
    margin-right: 55px;
  }

  @media (max-width: $vp-767) {
    margin-right: auto;
    margin-left: 0;
  }
}

.feedback__form-input-checkbox label {
  position: relative;

  display: block;
  margin-top: 15px;
  padding-left: 26px;

  @include ptmono($size-14, $line-16);
  color: $color-default-white;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;

    width: 15px;
    height: 15px;

    border: 1px solid $color-default-white;
    border-radius: 2px;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-checked {
    &::before {
      background-image: url("../img/sprite/icon-checkbox-mark.svg");
      background-repeat: no-repeat;
      background-position: 1px 3px;
    }
  }

  &.error {
    &::before {
      box-shadow: 0 0 0 2px #ff1553, 0 0 0 3px #ffffff;
      border-radius: 2px;
    }
  }

  @media (max-width: $vp-1023) {
    margin-top: 10px;
    padding-left: 25px;
  }

  @media (max-width: $vp-767) {
    padding-left: 31px;

    &::before {
      top: 7px;
      left: 5px;
    }
  }
}

.feedback__form-input-checkbox input:focus + label {
  box-shadow: 0 0 0 2px #011c40, 0 0 0 3px #ffffff;
  border-radius: 2px;
}
