.footer {
  width: 100%;
  padding: 50px 0 49px;

  background-color: #041827;

  @media (max-width: $vp-1023) {
    padding-bottom: 53px;
  }

  @media (max-width: $vp-767) {
    padding-top: 0;
    padding-bottom: 35px;
  }
}

.footer__social {
  flex: none;
  margin-right: 13.1%;

  @media (max-width: $vp-1023) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  @media (max-width: $vp-767) {
    position: relative;
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 34px;
    padding-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color-alice-blue-fade;
    }
  }
}

.footer__logo {
  margin-bottom: 30px;

  @media (max-width: $vp-1023) {
    margin-bottom: 0;
  }

  @media (max-width: $vp-767) {
    margin-left: -5px;
    margin-bottom: 16px;
  }
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 10px;
  width: 150px;
  margin-left: 10px;

  @media (max-width: $vp-1023) {
    column-gap: 25px;
    width: 140px;
    justify-content: right;
    margin-top: -5px;
    margin-left: 0;
  }

  @media (max-width: $vp-767) {
    justify-content: center;
    margin-top: 4px;
    margin-left: 3px;
  }
}

.footer__social a {
  display: block;
  width: 40px;
  height: 40px;
  padding: 5px 0 0 0;
  text-align: center;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    box-shadow: 0 0 15px 6px $color-deep-sky-blue;
    border-radius: 50%;
  }

  @media (max-width: $vp-1023) {
    width: 30px;
    height: 30px;
    padding: 0;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 8px;

  @media (max-width: $vp-767) {
    flex-direction: column;
    padding-top: 0;
  }
}

.footer__nav,
.footer__contacts {
  @media (max-width: $vp-767) {
    position: relative;

    width: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color-alice-blue-fade;
    }
  }
}

.footer__nav {
  min-width: 500px;

  @media (max-width: $vp-1520) {
    width: auto;
    min-width: auto;
  }

  @media (max-width: $vp-1023) {
    width: 377px;
  }
}

.footer h4 {
  margin-top: 0;
  padding-bottom: 0;

  @include roboto($size-15, $line-16);
  color: $color-default-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $vp-767) {
    position: relative;

    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    &:nth-of-type(2n) {
      padding-bottom: 18px;
    }

    &:hover,
    &:active {
      cursor: pointer;

      background-color: $color-deep-sky-blue;
    }

    &.is-close {
      padding-bottom: 23px;

      &::before {
        content: "";
        position: absolute;
        top: 20px;
        right: 26px;

        width: 15px;
        height: 15px;

        background-image: url("../img/sprite/icon-plus.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &.is-open {
      padding-bottom: 18px;

      &::before {
        content: "";
        position: absolute;
        top: 20px;
        right: 27px;

        width: 15px;
        height: 15px;

        background-image: url("../img/sprite/icon-minus.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.footer__nav h4,
.footer__contacts h4 {
  @media (max-width: $vp-767) {
    padding: 22px 25px 23px;
  }
}

.footer__nav--nojs h4,
.footer__contacts--nojs h4 {
  @media (max-width: $vp-767) {
    margin-bottom: 15px;
    padding: 0 25px;
  }
}

.footer__nav-list {
  max-width: 485px;
  min-height: 136px;
  columns: 2;

  @media (max-width: $vp-1023) {
    columns: 1;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    columns: auto;

    &.is-close {
      display: none;
    }

    &.is-open {
      display: flex;
      padding: 0 25px;
    }
  }
}

.footer__nav-item,
.footer__nav a {
  @include ptmono($size-16, $line-135);
  color: $color-default-white-fade;
}

.footer__nav-item {
  width: 95%;
  margin-bottom: 9px;

  // &:nth-of-type(3n) {
  //   margin-bottom: 6px;
  // }

  @media (max-width: $vp-1023) {
    width: 70%;

    // &:nth-of-type(4n) {
    //   margin-bottom: 8px;
    // }
  }
}

.footer__nav a:hover,
.footer__nav a:active,
.footer__nav a:focus,
.footer__nav a:focus-visible {
  box-shadow: 0 0 15px 6px $color-deep-sky-blue;
  border-radius: 3px;
}

.footer__contacts-list {
  @media (max-width: $vp-767) {
    &.is-close {
      display: none;
    }

    &.is-open {
      display: block;
      padding: 0 25px 15px;
    }
  }
}

.footer__contacts-item {
  max-width: 345px;
  margin-bottom: 5px;

  @include ptmono($size-16, $line-22);
  color: $color-default-white-fade;

  &--address {
    margin-bottom: 7px;
  }

  &:nth-of-type(4n) {
    margin-bottom: 0;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 5px;

    font-size: 14px;
    line-height: 135%;

    &--address {
      margin-bottom: 17px;
    }
  }
}

.footer__contacts a {
  @include ptmono($size-16, $line-25);
  color: $color-default-white-fade;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    box-shadow: 0 0 15px 6px $color-deep-sky-blue;
    border-radius: 3px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 25px;
  }
}
