.header {
  position: sticky;
  z-index: 15;
  top: 0;
  left: 0;

  width: 100%;
  padding: 30px 0 35px;

  background: $black-pearl-to-transparent;

  &--nojs {
    position: relative;
  }

  @media (max-width: $vp-1023) {
    position: relative;
    top: auto;
    left: auto;

    padding: 20px 0 25px;
  }

  @media (max-width: $vp-767) {
    padding: 15px 0 20px;
  }
}

.header__picture {
  display: block;
  width: 215px;
  margin-right: 42.7%;
}

.header__logo {
  @media (max-width: $vp-767) {
    width: 35px;
    height: 35px;
  }
}

.container--header a {
  display: block;
  width: 160px;
  margin-top: -5px;
  padding: 10px 15px 13px 17px;
  user-select: none;

  @include roboto-bold($size-14, $line-16);
  text-transform: uppercase;
  letter-spacing: 0.05em;

  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    color: $color-deep-sky-blue;

    background-color: $color-default-white;
    border: 1px solid $color-transparent;
    box-shadow: 0 0 15px 6px $color-deep-sky-blue;
  }

  @media (max-width: $vp-1023) {
    display: none;
    margin: 0;
    padding: 0;

    border: none;

    &:hover {
      color: $color-alice-blue;

      background-color: $color-transparent;
      border: 1px solid $color-alice-blue;
    }
  }
}

.header__contacts-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 8px;
  padding-right: 24.7%;

  @media (max-width: $vp-1023) {
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 0;
  }

  @media (max-width: $vp-767) {
    padding-top: 5px;
  }
}

.header__contacts-item {
  margin-right: 10px;
  margin-bottom: 15px;

  @media (max-width: $vp-1023) {
    margin-right: 40px;

    &:last-of-type {
      margin-right: 30px;
    }
  }

  @media (max-width: $vp-767) {
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.header__contacts-item a {
  position: relative;

  width: auto;
  margin: 0;
  padding: 0 0 0 35px;
  user-select: text;

  @include ptmono($size-16, $line-18);
  letter-spacing: normal;
  text-transform: none;

  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    background-image: url("../img/sprite/icon-mail.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: $vp-1023) {
    display: block;
    width: 0;
    height: 20px;
    padding: 0 0 0 20px;
    overflow: hidden;

    color: $color-transparent;
  }
}

.header__contacts-item a:hover,
.header__contacts-item a:active,
.header__contacts-item a:focus,
.header__contacts-item a:focus-visible {
  color: $color-default-white;

  background-color: $color-transparent;
  border: none;

  &::before {
    background-image: url("../img/sprite/icon-mail-hover.svg");
  }
}

.header__contacts-item:nth-of-type(even) a {
  &::before {
    background-image: url("../img/sprite/icon-phone.svg");
  }
}

.header__contacts-item:nth-of-type(even) a:hover {
  &::before {
    background-image: url("../img/sprite/icon-phone-hover.svg");
  }
}
