.popup {
  display: none;

  &--nojs {
    display: block;
    margin-bottom: 40px;
  }

  &.is-open {
    position: absolute;
    top: 0;
    left: -8px;
    z-index: 10;

    display: block;
    width: 100%;
  }
}

.popup__overlay {
  width: 100%;
  height: calc(100vh + 500px);
  padding-top: 146px;

  background-color: $color-overlay;

  &--nojs {
    height: auto;
    padding-top: 40px;

    background-color: $color-transparent;
  }

  @media (max-width: $vp-1023) {
    padding: 100px 50px;
  }

  @media (max-width: $vp-767) {
    padding: 25px;
  }
}

.popup__wrapper {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 129px;
  overflow-y: auto;
}

.popup__inner-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.popup form {
  position: relative;

  display: block;
  width: 500px;
  padding: 36px 40px 45px;

  background-color: $color-deep-sky-blue;
  border-radius: 3px;

  @media (max-width: $vp-1023) {
    width: 100%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;

  display: block;
  width: 40px;
  height: 40px;

  background-image: url("../img/sprite/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-deep-sky-blue;
  border: none;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    cursor: pointer;

    box-shadow: 0 0 15px 6px $color-default-white;
  }
}

.popup h4 {
  margin-top: 0;
  margin-bottom: 5px;

  @include roboto($size-30, $line-42);
  color: $color-default-white;
}

.popup span {
  display: block;
  width: 380px;
  margin-bottom: 38px;

  @include ptmono($size-16, $line-22);
  color: $color-default-white;

  @media (max-width: $vp-767) {
    width: auto;
  }
}

.popup__form-input {
  width: 100%;
  margin-bottom: 20px;

  &:nth-of-type(3n) {
    margin-bottom: 21px;
  }
}

.popup input,
.popup textarea {
  width: 100%;

  @include ptmono($size-16, $line-22);
  color: $color-default-white;

  background-color: $color-black-pearl-fade;
  border: none;
  border-radius: 3px;
}

.popup input::placeholder,
.popup textarea::placeholder {
  color: $color-default-white;
}

.popup input {
  padding: 13px 15px 15px;

  &:focus {
    box-shadow: 0 0 0 2px #011c40, 0 0 0 3px #ffffff;
    border-radius: 2px;
  }
}

.popup textarea {
  min-height: 155px;
  padding: 23px 15px;
  resize: none;
}

.popup__submit {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 11px;
  text-align: center;
  user-select: none;

  @include roboto-bold($size-16, $line-19);
  color: $color-default-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    cursor: pointer;

    box-shadow: 0 0 15px 6px $color-default-white;
  }

  &:focus-visible {
    box-shadow: none;
  }
}

.popup input[type="checkbox"] {
  width: 1px;
}

.popup__form-input-checkbox--nojs {
  display: grid;
  grid-template-columns: 15px auto;
  align-items: center;
  padding-left: 9px;
}

.popup__form-input-checkbox label {
  position: relative;

  display: block;
  padding-left: 34px;

  @include ptmono($size-14, $line-16);
  color: $color-default-white;

  border-radius: 2px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 9px;

    width: 15px;
    height: 15px;

    border: 1px solid $color-default-white;
    border-radius: 2px;
  }

  &.is-checked {
    &::before {
      background-image: url("../../img/sprite/icon-checkbox-mark.svg");
      background-repeat: no-repeat;
      background-position: 1px 3px;
      border: 1px solid $color-default-white;
    }
  }

  &.error {
    &::before {
      border: 1px solid $color-torch-red;
    }
  }
}

.popup__form-input-checkbox label:hover,
.popup__form-input-checkbox label:active,
.popup__form-input-checkbox label:focus,
.popup__form-input-checkbox label:focus-visible {
  cursor: pointer;
  box-shadow: none;

  &::before {
    box-shadow: 0 0 15px 6px $color-default-white;
  }
}

.popup__form-input-checkbox--nojs input {
  width: 15px;
  height: 15px;
}

.popup__form-input-checkbox--nojs label {
  display: block;
  padding-left: 10px;

  @include ptmono($size-14, $line-16);
  color: $color-default-white;
}
